.mainpage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mainpage .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.mainpage .map-area {
  position: absolute;
  width: 490px;
  height: 439px;
  top: 539px;
  left: 37px;
}

.mainpage .overlap-group {
  position: relative;
  width: 484px;
  height: 439px;
  background-color: #cdeaec;
  border-radius: 20px;
  text-align: center;
}

.mainpage .text-wrapper {
  width: 205px;
  top: 0;
  left: 0;
  color: #3f1606;
  font-size: 40px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .overlap {
  position: absolute;
  width: 222px;
  height: 54px;
  top: 385px;
  left: 0;
  background-color: #d9d9d9;
}

.mainpage .text-wrapper-2 {
  top: 11px;
  left: 60px;
  color: #000000;
  font-size: 26px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .rectangle {
  position: absolute;
  width: 222px;
  height: 54px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
}

.mainpage .result-area {
  position: absolute;
  width: 840px;
  height: 731px;
  top: 247px;
  left: 564px;
  font-family: 'Nanum Gothic', sans-serif;
}

.mainpage .div-wrapper {
  position: relative;
  width: 838px;
  height: 731px;
  background-color: #cdeaec;
  border-radius: 20px;
  text-align:center;
  padding:15px;
  vertical-align:text-top;
}

.mainpage .text-wrapper-3 {
  width: 254px;
  top: 0;
  left: 0;
  color: #3f1606;
  font-size: 40px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .confirm-button {
  position: absolute;
  width: 485px;
  height: 55px;
  top: 447px;
  left: 38px;
}

.mainpage .overlap-2 {
  position: relative;
  width: 483px;
  height: 55px;
  background-color: #f8deb8;
  border-radius: 15px;
}

.mainpage .text-wrapper-4 {
  width: 111px;
  top: 13px;
  left: 186px;
  color: #3f1606;
  font-size: 26px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .select-box {
  position: absolute;
  width: 451px;
  height: 88px;
  top: 333px;
  left: 55px;
}

.mainpage .text-wrapper-5 {
  width: 186px;
  top: 0;
  left: 7px;
  color: #3f1606;
  font-size: 26px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .polygon-wrapper {
  position: absolute;
  width: 449px;
  height: 49px;
  top: 39px;
  left: 0;
  background-color: #f8deb8;
  border-radius: 25px;
}

.mainpage .img2 {
  top: 9px;
  position: absolute;
  width: 35px;
  height: 30px;
  left: 22px;
}

.mainpage .select-box-2 {
  position: absolute;
  width: 451px;
  height: 86px;
  top: 239px;
  left: 55px;
}

.mainpage .img-wrapper {
  position: absolute;
  width: 449px;
  height: 49px;
  top: 36px;
  left: 0;
  background-color: #f8deb8;
  border-radius: 25px;
}

.mainpage .img {
  top: 10px;
  position: absolute;
  width: 35px;
  height: 30px;
  left: 22px;
}

.mainpage .text-wrapper-6 {
  width: 118px;
  top: 0;
  left: 7px;
  color: #3f1606;
  font-size: 26px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.mainpage .line {
  position: absolute;
  width: 1381px;
  height: 12px;
  top: 194px;
  left: 29px;
  object-fit: cover;
  background-color:#303e60;
  border-radius:15px;
}

.mainpage .main-title {
  position: absolute;
  width: 550px;
  top: 39px;
  left: 445px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  color: #303e60;
  font-size: 93px;
  letter-spacing: 0;
  line-height: normal;
}

select{
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  text-align : center;
  font-size : 30px;
}

.ds, #gg{
  position:absolute;
  width:448px;
  height:49px;
  margin:0 auto;
}

option{
  background-color: #f8deb8;
}

.rslt{
  border-radius:10px;
}

.overlap-2{
  border:0px;
  box-shadow: 0px 4px 4px #00000040;
}
.rectangle{
  border:0px;
  border-radius: 5px;
}
.img-wrapper, .polygon-wrapper, .overlap-group, .div-wrapper{
  box-shadow: 0px 4px 4px #00000040;
}

td{
  vertical-align: middle;
  
}

.mainpage #location-area {
  border-radius:15px; 
  border-width:0px; 
  position: absolute;
  width: 412px;
  height: 208px;
  top: 279px;
  left: 86px;
  color: #303e60;
  font-family: 'Nanum Gothic', sans-serif;
}
