.intro {
  background-color: #ffeee3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.intro .div {
  background-color: #ffeee3;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.intro .confirm-button {
  position: absolute;
  width: 485px;
  height: 55px;
  top: 437px;
  left: 898px;
}

.intro .overlap-group {
  position: relative;
  width: 483px;
  height: 55px;
  background-color: #f8deb8;
  border-radius: 15px;
}

.intro .text-wrapper {
  width: 111px;
  top: 10px;
  left: 186px;
  text-align: center;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #3f1606;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.intro .select-box {
  position: absolute;
  width: 451px;
  height: 88px;
  top: 323px;
  left: 915px;
}

.intro .text-wrapper-2 {
  width: 186px;
  top: 0;
  left: 7px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #3f1606;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.intro .overlap {
  position: absolute;
  width: 449px;
  height: 49px;
  top: 39px;
  left: 0;
  background-color: #f8deb8;
  border-radius: 25px;
}

.intro .img2 {
  top: 9px;
  position: absolute;
  width: 35px;
  height: 30px;
  left: 22px;
}

.intro .select-box-2 {
  position: absolute;
  width: 451px;
  height: 86px;
  top: 229px;
  left: 915px;
}

.intro .polygon-wrapper {
  position: absolute;
  width: 449px;
  height: 49px;
  top: 36px;
  left: 0;
  background-color: #f8deb8;
  border-radius: 25px;
}

.intro .img {
  top: 10px;
  position: absolute;
  width: 35px;
  height: 30px;
  left: 22px;
}

.intro .text-wrapper-3 {
  width: 118px;
  top: 0;
  left: 7px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #3f1606;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.intro .line {
  position: absolute;
  width: 1381px;
  height: 1px;
  top: 194px;
  left: 29px;
  object-fit: cover;
}

.intro .main-title {
  position: absolute;
  width: 550px;
  top: 39px;
  left: 445px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #3f1606;
  font-size: 93px;
  letter-spacing: 0;
  line-height: normal;
}

.intro .introduce {
  position: absolute;
  width: 800px;
  height: 750px;
  top: 229px;
  left: 45px;
  background-color: #d9d9d9;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;
}
select{
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  text-align : center;
  font-size : 30px;
}

.ds, #gg{
  position:absolute;
  width:448px;
  height:49px;
  margin:0 auto;
}

option{
  background-color: #f8deb8;
}

button{
  border:0px;
  box-shadow: 0px 4px 4px #00000040;
}

.polygon-wrapper, .overlap{
  box-shadow: 0px 4px 4px #00000040;
}